.theme--dark.application
  background-color: #1c222e !important

.theme--dark.v-toolbar, .theme--dark.v-navigation-drawer, .theme--dark.v-bottom-nav, .theme--dark.v-sheet
    background-color: #202c3a !important
